services:
  db:
    build: ./database
    container_name: book_db
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: book_api
    restart: always
    env_file:
      - .env
    ports:
      - "127.0.0.1:3000:3000"
    depends_on:
      - db

  adminer:
    image: adminer
    container_name: book_adminer
    restart: always
    ports:
      - "127.0.0.1:8080:8080"
    depends_on:
      - db

volumes:
  db_data: